<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            SomethingIBuilt.com made by <a href="mailto:ross@standardmagic.net">Ross Andrews</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
</div>
