<div class="row formatting-help" style="display: none">
    <div class="col-xs-12">
        <p>
            We use <%= link_to "Markdown", "http://daringfireball.net/projects/markdown/syntax" %> for formatting blog posts.
        </p>
        <p>Quick reference:</p>
        <ul>
            <li>*italics* is <em>italics</em></li>
            <li>**bold** is <strong>bold</strong></li>
            <li>[Link text](http://google.com)</li>
            <li>![alt text](image_XXX "title") <em>(Click one of your images to get the link text)</em></li>
            <li>To format something like code, put four spaces at the beginning of each line</li>
            <li>You can also start and end code blocks with ~~~ (three tildes):
                <pre>~~~ruby
@something.whatever(2, "some string")
~~~</pre>
                becomes
                <pre><code class="prettyprint lang-ruby">@something.whatever(2, &quot;some string&quot;)
</code></pre>
            </li>
        </ul>
    </div>
</div>
