<% @projects.each do |project| %>
    <div class="row">
        <div class="col-xs-12">
            <%= link_to project_path(project) do %>
                <span class="lead"><%= project.name %></span>
            <% end %>
            by
            <%= link_to project.user.username %>
        </div>
    </div>
<% end %>
