<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <% @projects.each do |project| %>
                <div class="row">
                    <%= render 'project', project: project %>
                </div>
            <% end %>
        </div>
    </div>
</div>

