<% provide :new_project_link_active, "class=\"active\"".html_safe %>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Start a new project</h1>        
    </div>
</div>

<%= render 'form' %>
